<form action = "http://127.0.0.1:5000/result" method = "POST">
  <div class="form-group">
   
    <label for="TYPE_VOIE" style="display: block;">PICK NUMBER</label>
    <input type="radio" name="pick" id="pick" value="1"> 1 </input>
    <input type="radio" name="pick" id="pick" value="2"> 2 </input>
    <input type="radio" name="pick" id="pick" value="3"> 3 </input>
    <input type="radio" name="pick" id="pick" value="4"> 4 </input>
    <input type="radio" name="pick" id="pick" value="5"> 5 </input>
    
  </div>
</form>
